@-moz-keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* Firefox */
@-webkit-keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* Webkit */
@-ms-keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* IE */
@keyframes blink {0%{opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} /* Opera and prob css3 final iteration */


#inn, #dagger, #bag, #longsword, #lightsaber, .monster, .dragon {
    height: 50px;
    width: 50px;
    margin: 10px;
    display: inline-block;
    /* position: absolute; */

}

body {
    background-image: url("./images/CodaisseurMap.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#statsBox, #heroBox {
    background-color: rgb(247, 243, 243);
    display: inline-block;
    padding: 10px;
    margin: 0;
    opacity: 0.5
}

#statsBox {
    position: fixed;
    bottom: 0;
    right: 0;
}

#pointsBox {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 30px;
    color: red;
    margin: 0
}

.monster, .dragon, #nightking {
    /* object-position: 100px 100px; */
    z-index: 1;
    /* top: 100;
    left: 100; */
    position: absolute;
    -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 2s infinite ease-in-out; /* IE */
    animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */

}